In [9]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np
import re
import string
import seaborn as sns

In [13]:
%pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     -------------------------------------- 292.8/292.8 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.3)
Requirement already satisfied: scipy>=1.0 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.22.4)
Requirement already satisfied: matplotlib>=2.2 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.3)
Requirement already satisfied: packaging>=20.0 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\minem\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
os.listdir()
data = pd.read_csv("CustomerMarketingDataset.csv")

In [16]:
data

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent
0,Young,Male,Rent,Single,Close,15000,3,Low,6,Low
1,Young,Male,Rent,Single,Close,13000,3,Low,6,Low
2,Young,Female,Rent,Single,Close,14600,3,Low,6,Low
3,Young,Female,Rent,Single,Close,17900,3,Low,6,Low
4,Old,Female,Own,Single,Close,12700,2,Low,6,Low
...,...,...,...,...,...,...,...,...,...,...
995,Middle,Female,Own,Married,Far,99200,0,High,24,Very High
996,Old,Female,Own,Married,Far,110000,0,High,24,Very High
997,Middle,Female,Rent,Married,Far,120800,1,High,24,Very High
998,Middle,Male,Own,Married,Far,123000,1,High,24,Very High
999,Old,Male,Own,Married,Far,112900,0,High,24,Very High